* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 95%;
}

.tabler {
    width: 80%;
    margin: 5% auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #363636;
    text-align: center;
    padding: 8px;
}

p {
    padding-left: 10%;
    margin-top: 2%;
}

a {
    text-decoration: none;
    margin: auto;
}